@CHARSET "UTF-8";

/* bbs_write.jsp ui */
#bWrite_wrap{
	width:420px;
	height:430px;
	border:1px solid blue;
	border-radius:20px;
	box-shadow:20px 20px 20px #ccc;
	margin-left:auto;
	margin-right:auto;
	/* div 수평 중앙 정렬 */
	margin-top:100px;
}
#bWrite_wrap .bWrite_title{
	margin:20px 0 0 140px;
	width:160px;
	background:pink;
	border-radius:15px;
	font-size:20px;
	text-align:center;
	padding:3px;/ * 안 상하좌우 여백을 3픽셀 */
}
#bWrite_t{
	margin:20px 0 0 30px;
}
#bWrite_t th{
	background:pink;
	border-radius:15px;
}
.box{
	border:1px solid pink;
	border-radius:15px;
}
.box:hover{
	background:#ccc;
}
#bWrite_menu{
	margin:20px 0 0 150px;
}
.input_b{
	border:1px solid red;
	border-radius:15px;
	font-weight:bold;
}
.input_b:hover{
	cursor:pointer;cursor:hand;
}

/* bbs_list.jsp ui */
#bList_wrap{
	width:600px; padding:15px;
	border:1px solid blue; border-radius:20px;
	box-shadow:15px 15px 15px #ccc;
	margin-left:300px; margin-right:auto;
	margin-top:100px;
}
#bList_wrap .bList_title{
	margin:20px 0 0 250px;
	width:130px;
	font-size:20px;
	background:pink;
	padding:3px;
	border-radius:15px;
	text-align:center;
}
#bList_count{
	mrgin:20px 20px 0 600px;
}
a:link{
	text-decoration: none;
}
a:active{/*클릭시*/
	text-decoration:none;
}
a:visited{
	text-decoration: none;
}
a:hover{
	text-decoration:underline;
}
.left_box{
	padding-left:14px;/*제목부분 안 여백을 14픽셀로 띄움*/
}
#list_paging{
	margin:20px 0 0 200px;
}
#list_menu{
	margin:20px 0 0 510px;
}
#list_find{
	margin:20px 0 15px 180px;
}

/* bbs_cont.jsp ui */
#bCont_wrap{
	width:500px; padding:10px;
	border:1px solid blue;
	border-radius:20px;
	box-shadow:20px 20px 20px #ccc;
	margin-left:auto;
	margin-right:auto;
	margin-top:100px;
}
#bCont_wrap .bCont_title{
	margin:15px 0 0 170px;
	width:180px;
	font-size:20px;
	background:pink;
	border-radius:15px;
	text-align:center;
}
#bCont_t{
	margin:15px 0 0 20px;
}