<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration  
    PUBLIC "-//mybatis.org//DTD Config 3.0//EN"  
    "http://mybatis.org/dtd/mybatis-3-config.dtd"> 

<configuration>
  <typeAliases>
   <typeAlias alias="bbs" type="com.naver.model.BbsBean" />
   <!-- 이 부분을 자바 언어로 표현하면 
     com.naver.model.BbsBean bbs=new com.naver.model.BbsBean();
     과 같다. 새로운 객체명 bbs를 만듬. -->
  <typeAlias alias="admin" type="com.naver.model.AdminBean"/>
  <typeAlias alias="board" type="com.naver.model.BoardBean"/>
  <typeAlias alias="member" type="com.naver.model.MemberBean"/>
  <typeAlias alias="phone" type="com.naver.model.PhoneBean"/>
  <typeAlias alias="email" type="com.naver.model.EmailBean"/>
  <typeAlias alias="zip" type="com.naver.model.ZipcodeBean"/>
  <typeAlias alias="zip2" type="com.naver.model.ZipcodeBean2"/>
  </typeAliases>     
</configuration>

